.container {
    border-radius: 10px 10px 10px 10px;
    /* background: #272727; */
    width: 120px;
    color: black;
    /* prevent selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.image {
    display: flex;
    justify-content: center;
    background: #ffffff;
    margin: 0px 0px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}

.image > img {
    height: 100px;
}

.title {
    min-height: 75px;
}

.info {
    cursor: help;
}